.tokenStats-content {
}

.tokenStats-infoRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tokenStats-infoCol {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tokenStats-infoCol .tokenStats-label {
  align-self: flex-start;
}

.tokenStats-infoCol .tokenStats-value {
  align-self: flex-end;
  text-align: right;
}

.tokenStats-value {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .tokenStats .MuiCardHeader-subheader,
  .tokenStats-infoCol .tokenStats-value {
    font-size: 12px;
  }
}
